<!DOCTYPE html>
<html lang="az">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container-fluid">
          <%- include('layouts/slider.ejs') %>

          <%- include('layouts/content.ejs') %>

          <%- include('layouts/footer.ejs') %>
        </div>
            
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
            
                  <!-- Modal Header -->
                  <div class="modal-header">
                  <h4 class="modal-title">Test</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    Modal body..
                  </div>
                  
                  <!-- Modal footer -->
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
        </div>
        <script src="https://kit.fontawesome.com/97aa96c74c.js"></script>
        <script src="/plugins/jquery/jquery.min.js"></script>
        <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>