<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="img/scholar.jpg" class="img-fluid">
            </div>
            <div class="col-md-6">
            <h4 class="text-danger text-uppercase font-weight-bold">Our next event</h4>
            <p>Short Course</p>
            <p><b>Stamford, United Kingdom</b></p>
            <p>Starts Sunday 28th March</p>
            <ul class="list-unstyled">
                <li class="my-2"><a href="#" class="text-dark">Daily UEFA licensed coaching session</a></li>
                <li class="my-2"><a href="#" class="text-dark">Eight week football course</a></li>
                <li class="my-2"><a href="#" class="text-dark">Specialist coaching and advice</a></li>
                <li class="my-2"><a href="#" class="text-dark">Full accommondation and meal</a></li>
            </ul> 
                <a href="#" class="btn btn-danger text-white rounded text-uppercase">Sign up today</a>
            </div>
        </div>
    </div>
</section>