
    
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <section>
                <div class="col-md-8">
                  <h4 class="text-danger text-uppercase font-weight-bold pt-3">Student Welfare</h4>
                  <img src="img/scholar.jpg" class="img-fluid" style="width:100%;">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Blanditiis dolore id alias velit officiis quidem quis quia, 
                     voluptatem dolor exercitationem eius 
                      laboriosam aperiam nam qui quos neque dicta. Quaerat, deleniti?
                      Dignissimos dolore vel ad neque odio molestiae veniam optio facere,
                      consequuntur labore voluptatum tempora libero deserunt quidem explicabo 
                      itaque minus adipisci! Sapiente exercitationem cum libero odit esse voluptatem,
                      impedit consequatur!
                      Earum ab est omnis facilis numquam quas ducimus sapiente placeat id corrupti. 
                      Possimus tempora architecto porro? Aut, ducimus. Iste natus esse fugit! 
                      Quam obcaecati quidem enim quisquam, illo optio fuga!
                    </p>
                   </div>
            </section>  
        </div>
        <div class="col-xs-12 col-sm-3">
            <%- include('../layouts/sidebar.ejs') %>
        </div>
    </div>
