*{
    margin: 0;
    padding: 0;
}

.yuxari_div, p {
    color: white;
    background-color: black;
    text-align: center;
}

.container{
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
    height: 600px;
}

.about{
    display: flex;
    justify-content: space-between;
  
}

.about_item{
    margin-top: 200px;
    display: inline-block;
    margin-right: 20px;
}

.about_img{
    background: linear-gradient(to bottom,
    #f38181, #fce38a);
    
}

.button {
    background-color: red; 
    border: none;
    color: white;
    margin-left: -60px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 450px;
    padding: 8px 54px;
    border-radius: 12px
    
}

.inf{
    position: absolute;
    text-align: center;
    top: 510px;
    margin-left: 130px;
    
}
