 <!--Footer-->
        <%- include('subscription-form.ejs') %>
        </div>
        <footer class="page-footer">
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-2 mx-auto mb-4">
                        <h4 class="text-white text-uppercase font-weight-bold pt-3">Portals</h4>
                        <hr class="bg-light mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 1px;">
                        <ul class="list-unstyled">
                            <li class="my-2"><a href="#" class="text-white">Governor's Portal</a></li>
                            <li class="my-2"><a href="#" class="text-white">Staff Portal</a></li>
                            <li class="my-2"><a href="#" class="text-white">Student VLE</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mx-auto mb-4">
                        <h4 class="text-white text-uppercase font-weight-bold pt-3">Quick Links</h4>
                        <hr class="bg-light mb-4 mt-0 d-inline-block mx-auto" style="width: 150px; height: 1px;">
                        <ul class="list-unstyled">
                            <li class="my-2"><a href="#" class="text-white">Boxing Academy</a></li>
                            <li class="my-2"><a href="#" class="text-white">Colleges</a></li>
                            <li class="my-2"><a href="#" class="text-white">Contact US</a></li>
                            <li class="my-2"><a href="#" class="text-white">Course Guides</a></li>
                            <li class="my-2"><a href="#" class="text-white">Jobs</a></li>  
                            <li class="my-2"><a href="#" class="text-white">Employers</a></li>            
                        </ul>
                    </div>
                    <div class="col-md-2 mx-auto mb-4">
                        <h4 class="text-white text-uppercase font-weight-bold pt-3">Compliance</h4>
                        <hr class="bg-light mb-4 mt-0 d-inline-block mx-auto" style="width: 150px; height: 1px;">
                        <ul class="list-unstyled">
                            <li class="my-2"><a href="#" class="text-white">Accessibility</a></li>
                            <li class="my-2"><a href="#" class="text-white">College Policies</a></li>
                            <li class="my-2"><a href="#" class="text-white">Disclaimer</a></li>
                            <li class="my-2"><a href="#" class="text-white">Equality, Diversity & Inclusion</a></li>
                            <li class="my-2"><a href="#" class="text-white">Privacy</a></li>
                            <li class="my-2"><a href="#" class="text-white">Sitemap</a></li>
                            <li class="my-2"><a href="#" class="text-white">Evolve Learning Group</a></li>
                            <li class="my-2"><a href="#" class="text-white">Liability Insurance</a></li>
                            <li class="my-2"><a href="#" class="text-white">Social engagement</a></li>
                        </ul>
                    </div>
                </div>
            </div> 
           </footer>
        <div class="modal fade" id="myModal">
          <d class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
            
                  <!-- Modal Header -->
                  <div class="modal-header">
                  <h4 class="modal-title">Test</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    Modal body..
                  </div>
                  
                  <!-- Modal footer -->
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
        </div>
        <script src="https://kit.fontawesome.com/97aa96c74c.js"></script>
        <script src="/plugins/jquery/jquery.min.js"></script>
        <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/plugins/slick/slick.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>