 <!--Footer-->
        <%- include('subscription-form.ejs') %>
        </div>
        <footer class="footer row">
            <div class="f-container">
                <div class="f-row">
                    <div class="f-column">
                        <h3>Portals</h3>
                        <ul>
                            <li><a href="#">Governor's Portal</a></li>
                            <li><a href="#">Staff Portal</a></li>
                            <li><a href="#">Student VLE</a></li>
                        </ul>
                    </div>
                    <div class="f-column">
                        <h3>QuIck LInks</h3>
                        <ul>
                            <li><a href="#">Boxing Academy</a></li>
                            <li><a href="#">Colleges</a></li>
                            <li><a href="#">Contact US</a></li>
                            <li><a href="#">Course Guides</a></li>
                            <li><a href="#">Jobs</a></li>  
                            <li><a href="#">Employers</a></li>            
                        </ul>
                    </div>
                    <div class="f-column">
                        <h3>ComplIance</h3>
                        <ul>
                            <li><a href="#">Accessibility</a></li>
                            <li><a href="#">College Policies</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Equality, Diversity & Inclusion</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Evolve Learning Group</a></li>
                            <li><a href="#">Liability Insurance</a></li>
                            <li><a href="#">Social engagement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
            
        <div class="modal fade" id="myModal">
          <d class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
            
                  <!-- Modal Header -->
                  <div class="modal-header">
                  <h4 class="modal-title">Test</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    Modal body..
                  </div>
                  
                  <!-- Modal footer -->
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
        </div>
        <script src="https://kit.fontawesome.com/97aa96c74c.js"></script>
        <script src="/plugins/jquery/jquery.min.js"></script>
        <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/plugins/slick/slick.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>