<style>
    /* Footer style*/
    .page-footer{
            background-color: black;
        }
    /*Form Start*/

.form-group {
    background-color: black;
    height: 160px;
    position: relative;
    text-align: center;
       
}

.form-group h3 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
     
}

.form-control {
    border: none;
    border-radius: 8px;
    width: 30%;
    margin-top: 30px;
    position: absolute;
    text-align: center;
    margin-left: 370px;
}

.form-group .btn {
    background-color: red;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;   
    margin-top: 30px;
    margin-left: 370px;             
  
}

.form-group .btn:hover{
    background-color:  rgb(39, 38, 38);
}

</style>
<div class="row">
    <!--Form Start-->
    <div class="col-xs-12 text-center" style="width: 100%;">

        <form>
            <div class="form-group">
                <h3>JOIN OUR MAILING LIST FOR REGULAR FOOTBALL UPDATES</h3>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="My email address">                    
                <a href="#" class="btn btn-danger">SIGN UP NOW</a>
            </div>
        </form>
    </div>
    <!--Form End-->
</div>

