<style>
    /*Form Start*/

.form-group {
    background-color: black;
    height: 140px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    top: 330px;
}

.form-group h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40px;
}

.form-control {
    border: none;
    border-radius: 8px;
    margin-right: 20px;
    padding: 8px 62px;

}

.form-group .btn {
    background-color: red;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;    
}

.form-group .btn:hover{
    background-color:  rgb(39, 38, 38);
}

</style>
<div class="row">
    <!--Form Start-->
    
    <form>
        <div class="form-group">
          <h3>JOIN OUR MAILING LIST FOR REGULAR FOOTBALL UPDATES</h3>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="My email address">                    
            <a href="#" class="btn btn-danger">SIGN UP NOW</a>
        </div>
    </form>

    <!--Form End-->
</div>

